{% extends "layout.html" %}

{% block content %}
<div class="columns">
    <div class="column">
		<form action="." method="POST">		
			<div class="form-item">
				<h1 class="title label">I feel like eating <input id="text" class="input-inline" type="text" name="term" placeholder="" required> {{ keyword }} </h1>
			</div>
			<div class="form-item">
				<h1 class="title label">near <input id="loc" class="input-inline" type="text" name="location" placeholder="" required></h1>
			</div>
			<div class="form-item">
				<input type="submit" class="button outline" value='Help me!'>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block footer %}
<div class = "bottomFooter">
		<ul>
			<li><a id="aboutButton" data-target="#aboutModal">About</a></li>
		</ul>
</div>

<!-- 
<div id="bottom_nav">
	<nav class="has-text-centered">
		<ul>
			<li><a id="aboutButton" data-target="#aboutModal">About</a></li>
		</ul>
	</nav>
</div>
 -->
<div class="container">
	<div id = "aboutModal" class="modal">
	  	<div class="modal-background"></div>
	  	<div class="modal-content">
	    	<div>
		    	<h1 class = "has-text-centered">Made by Sheldon</h1>
			</div>
	  	</div>
	  	<button class="modal-close is-large" aria-label="close"></button>
	</div>	
</div>
{% endblock %}	

{% block javascript %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
