{% extends "layout.html" %}

{% block content %}
<div class="columns">
    <div class="column">

        {% if result is none %}
        <h1 class="title"> 
            No results found. 
        </h1>
        <h2 class="subtitle">
            Unfortunately, we couldn't find any results for your search. Please <a class = "hover" href="{{ url_for('home') }}">click here</a> to try again.
        </h2>

        {% else %}
        <h2 class="subtitle">You can try</h2>
        <a href="{{ result.url }}" target="_blank">
            <h1 class="title">
                {{ result['name']}}
            </h1>
            <div class="reviews">
                <p class="small-subtitle">{{ result.review_count }} reviews</p>
                    {% if (result.rating == 0.0) %}
                        <img src="{{url_for('static', filename='img/stars/small/small_0@2x.png')}}" alt="{{ result.rating }}" />
                    {% elif (result.rating == 1.0) %}
                        <img src="{{url_for('static', filename='img/stars/small/small_1@2x.png')}}" alt="{{ result.rating }}" />
                    {% elif (result.rating == 1.5) %}
                        <img src="{{url_for('static', filename='img/stars/small/small_1_half@2x.png')}}" alt="{{ result.rating }}" />
                      
                    {% elif (result.rating == 2.0) %}
                        <img src="{{url_for('static', filename='img/stars/small/small_2@2x.png')}}" alt="{{ result.rating }}" />

                    {% elif (result.rating == 2.5) %}
                        <img src="{{url_for('static', filename='img/stars/small/small_2_half@2x.png')}}" alt="{{ result.rating }}" />
                       
                    {% elif (result.rating == 3.0) %}
                        <img src="{{url_for('static', filename='img/stars/small/small_3@2x.png')}}" alt="{{ result.rating }}" />
                       
                    {% elif (result.rating == 3.5) %}
                        <img src="{{url_for('static', filename='img/stars/small/small_3_half@2x.png')}}" alt="{{ result.rating }}" />
                     
                    {% elif (result.rating == 4.0) %}
                        <img src="{{url_for('static', filename='img/stars/small/small_4@2x.png')}}" alt="{{ result.rating }}" />
                       
                    {% elif (result.rating == 4.5) %}
                        <img src="{{url_for('static', filename='img/stars/small/small_4_half@2x.png')}}" alt="{{ result.rating }}" />

                    {% elif (result.rating == 5.0) %}
                        <img src="{{url_for('static', filename='img/stars/small/small_5@2x.png')}}" alt="{{ result.rating }}" />
                         
                    {% endif %}
                {{result.rating}}
            </div>
        </a>
        <h2 class="subtitle categories">
            Categories:
            {% for c in result.categories %}
                {{ c['title'] }}
                {{ "," if not loop.last }}
            {% endfor %}
        </h2>
        <h2 class="subtitle snippet has-text-centered">
            {% if reviews %}
            {{ reviews.get('reviews')[0].text }}
            {% endif %}
            <a href="{{ result.url }}" target="_blank" class = "hover" style="font-size:15px;">Read more</a>
        </h2>
        <div class="image main-img">
            <a href="{{ result.url }}"><img src="{{ result.image_url}}" style="display:block; margin:0 auto;max-width:500px; height:auto;"  alt="{{ result.name }}" /></a>
        </div>
        <h2 class="subtitle contact">
            Contact info:
        </h2>
        <ul class="contact-list">
            <li>{{ result.location.address1 }}</li>
            <li>{{ result.location.city }}, {{ result.location.state }} {{ result.location.zip_code }}</li>
            <li>{{ result.phone }}</li>
        </ul>
        {% endif %}

        <h2 class="subtitle powered">
            <small>Powered by <img class="yelp-logo" src="{{ url_for('static', filename='img/Yelp_trademark_RGB.png') }}" alt="yelp" style="margin-left: 2px; height: 30px;vertical-align: top;" /></small>
        </h2>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class = "bottomFooter">
    <ul id="nextUl">
        <a href="{{ url_for('home') }}">Try again?</a><li></li>

        {% if result is not none %}
        <form id="nextForm" action="." method="POST">     
            <input id="text" type="hidden" name="term" value = "{{ text }}" placeholder="" required>
            <input id="loc" type="hidden" name="location" value="{{ location }}" placeholder="" required>
            <input type="submit" value='Help me!'>
        </form>
        <a id="next">Next</a><li></li>
        {% endif %}

    </ul>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/item.js') }}"></script>
{% endblock %}


